[submodule "trento"]
	path = trento
	url = https://github.com/Jopacabra/trento.git
[submodule "osu-hydro"]
	path = osu-hydro
	url = https://github.com/Jopacabra/osu-hydro.git
[submodule "freestream"]
	path = freestream
	url = https://github.com/Duke-QCD/freestream.git
[submodule "frzout"]
	path = frzout
	url = https://github.com/Duke-QCD/frzout.git
[submodule "hic"]
	path = hic
	url = https://github.com/Duke-QCD/hic
[submodule "urqmd-afterburner"]
	path = urqmd-afterburner
	url = https://github.com/jbernhard/urqmd-afterburner/
